.nav {
  height: 56px;
}
.logo {
  margin-top: -13px;
  margin-bottom: -9px;
  width: 46px;
}
#Section2, #Section4 {
  text-align: center;
  padding: 110px 90px 150px;
}
.h-line {
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}
.vh-100 {
  height: 100vh;
}
.h-25vw {
  height: 25vw;
}
.bg-org{
  color: #fff;
  background-color: rgb(240, 86, 25);
  border-color: rgb(240, 86, 25);
}
.bg-org:hover{
  color: #fff;
  background-color: rgb(206, 82, 32);
  border-color: rgb(206, 82, 32);
}
.cr-1, .cr-2, .cr-3{
  background: no-repeat top/cover url(assets/var-02.jpeg);
}
.cr-img{
  height: 90vh;
}
#Section3 .sec3-h {
  padding-bottom: 55px;
}
#Section3 .cs {
  color: #f5f1ff;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  opacity: 0.7;
  transition: all 0.8s ease;
}
#Section3 .cs:hover {
  opacity: 0.9;
}
#Section3 .c1 {
  background: no-repeat 6% 12%/105% url(assets/var-03.jpeg);
}
#Section3 .c1:hover {
  background: no-repeat 6% 12%/107% url(assets/var-03.jpeg);
}
#Section3 .c2 {
  background: no-repeat 6% 12%/105% url(assets/var-04.jpeg);
}
#Section3 .c2:hover {
  background: no-repeat 6% 12%/107% url(assets/var-04.jpeg);
}
#Section3 .c3 {
  background: no-repeat 6% 12%/105% url(assets/var-05.jpg);
}
#Section3 .c3:hover {
  background: no-repeat 6% 12%/107% url(assets/var-05.jpg);
}
#Section3 .c4 {
  background: no-repeat 6% 46%/120% url(assets/var-03.jpeg);
}
#Section3 .c4:hover {
  background: no-repeat 6% 46%/122% url(assets/var-03.jpeg);
}
#Section3 .c5 {
  background: no-repeat 6% 46%/120% url(assets/var-04.jpeg);
}
#Section3 .c5:hover {
  background: no-repeat 6% 46%/122% url(assets/var-04.jpeg);
}
.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Section5 .card {
  padding: 5rem !important;
}
#Section5 .sec-img-5 {
  width: 120px;
}
#Section5 h4, h6{
  font-weight: bold;;
}
#Section5 h4 {
  color: #218838;
}
.social {
  justify-content: center;
}
.social li {
  margin: 0 10px;
}
.social-link, .social-ico {
  transition: all 0.6s ease;
}
.social-link {
  background-color: #f2f2f2;;
  border-radius: 20px;
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
}
.social-link:hover {
  background-color: #28a745;
}
.social-ico {
  border-radius: 15px;
  filter: invert(35%);
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
  width: 40px;
  padding: 10px;
}
.social-ico:hover {
  filter: invert(98%);
}
.pending-ico {
  filter: opacity(0.2) !important;
}
.pending-link {
  background-color: #f7f7f7 !important;
  pointer-events: none;
}
.pending-link:hover {
  cursor: initial !important;
  background-color: #f7f7f7 !important;
}
#Footer {
  padding: 2rem;
}
#Footer .attribute {
  position: relative;
}
#Footer .attribute a {
  color: #00ca16;
  font-style: italic;
  font-size: small;
  position: absolute;
  bottom: 0;
  right: 0;
}
#Footer .attribute a:hover {
  color: #00ca16;
  text-decoration: none;
}
.dev {
  color: #cbecd2;
  font-style: italic;
  padding-left: 3px;
}
.dev:hover {
  color: #cbecd2;
  text-shadow: 1px 1px gray;
}
.cards {
  filter: grayscale(1) opacity(0.4);
  width: 32px;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 576px) {
  .w100 {
    width: 100%;
 }
  .vh-40 {
    height: 40vh;
 }
  .vh-25 {
    height: 25vh;
 }
  .c1 {
    height: 30vh;
 }
  .c2, .c3, .c4, .c5 {
    flex: 0 0 auto;
    height: 25vh;
    margin-top: 4% !important;
    width: 48% !important;
 }
 .contact-text {
  display: none;
 }
 .payments {
  height: 70px;
 }
}
@media (min-width: 576px) {
  .vh-40-sm {
    height: 40vh;
 }
  .col-sm-40 {
    flex: 0 0 auto;
    width: 30%;
 }
  .c1, .c2 {
    height: 40vh;
    flex: 0 0 auto;
    width: 48% !important;
 }
  .c3, .c4, .c5 {
    flex: 0 0 auto;
    height: 35vh;
    margin-top: 4% !important;
    width: 31% !important;
 }
  .carousel-caption {
    bottom: 25% !important;
  }
  #Section5{
    display: flex;
  }
  .payments {
    height: 50%;
  }
  #Footer {
    min-height: 146px;
  }
  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .core {
    flex-grow: 1;
  }
}
